Repository darianrosebrook/distill: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-schema-validation, forbid-tabs, forbid-crlf, ensure-nfc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: json-schema-validation
        name: JSON Schema Validation
        entry: bash -c 'for file in "$@"; do python -c "import json, sys, jsonschema; f=open(\"$file\"); data=[json.loads(l) for l in f if l.strip()]; schema=json.load(open(\"schemas/dataset_item.schema.json\")); [jsonschema.validate(item, schema) for item in data if not item.get(\"__header__\")]"; done'
        language: system
        files: '\.jsonl$'
        pass_filenames: true
      
      - id: forbid-tabs
        name: Forbid Tabs
        entry: bash -c 'grep -n $"\t" "$@" && exit 1 || exit 0'
        language: system
        files: '\.(jsonl|json|py)$'
        pass_filenames: true
      
      - id: forbid-crlf
        name: Forbid CRLF
        entry: bash -c 'grep -n $"\r" "$@" && exit 1 || exit 0'
        language: system
        files: '\.(jsonl|json|py)$'
        pass_filenames: true
      
      - id: ensure-nfc
        name: Ensure NFC Normalization
        entry: bash -c 'python -c "import sys, unicodedata; f=open(sys.argv[1], \"rb\"); content=f.read().decode(\"utf-8\"); f.close(); nfc=unicodedata.normalize(\"NFC\", content); assert content == nfc, \"File not in NFC normalization\""'
        language: system
        files: '\.(jsonl|json)$'
        pass_filenames: true

Add scale test make targets and documentation for N=1k/N=10k verification
  Makefile
  docs/SCALE_TESTS.md
Due: none

Add evaluation harness for tool-integration behaviors with verifier-parity scoring
  Makefile
  eval/HARNESS.md
  eval/cli.py
  eval/reports/__init__.py
  eval/reports/summarize.py
  eval/runners/__init__.py
  eval/runners/base.py
  eval/runners/hf_local.py
  eval/runners/openai_http.py
  eval/scoring/__init__.py
  eval/scoring/scorer.py
  eval/tool_broker/__init__.py
  eval/tool_broker/broker.py
  eval/tool_broker/fixtures/read_file.jsonl
  eval/tool_broker/fixtures/web.search.jsonl
Due: json-schema-validation, forbid-tabs, forbid-crlf, ensure-nfc

Update README with contextual dataset generation and evaluation harness documentation
  README.md
Due: none

Organize markdown files: move root docs to docs/, archive status reports and planning docs
  docs/ARBITER_THEORY.md
  docs/CAWS_AGENT_GUIDE.md
  docs/PRE_TRAINING_READINESS_SUMMARY.md
  docs/PRODUCTION_READINESS_SUMMARY.md
  docs/PROGRESSIVE_BACKOFF_VERIFICATION.md
  docs/README.md
  docs/VERIFICATION_REPORT_CONTEXTUAL_DATASET.md
  eval/HARNESS.md
  scripts/generate_contextual_prompts.py
Due: forbid-tabs, forbid-crlf

Update README references to reflect reorganized documentation structure
  README.md
Due: none

feat(eval): implement sharding determinism validation and stable hash partitioning
  .github/workflows/eval-nightly.yml
  Makefile
  docs/EVAL_HARNESS_IMPLEMENTATION_REVIEW.md
  eval/HARNESS.md
  eval/__init__.py
  eval/cli.py
  eval/reports/diff_reports.py
  eval/reports/latest.json
  eval/reports/smoke.json
  eval/reports/verify_dataset.json
  eval/tool_broker/broker.py
  eval/tool_broker/fixtures/read_file.jsonl
  pyproject.toml
  scripts/test_eval_full_pipeline.py
  scripts/test_eval_harness_e2e.py
  scripts/validate_sharding_determinism.py
  scripts/verify_contextual_set.py
  tests/ci/test_sharding_determinism.py
Due: json-schema-validation, forbid-tabs, forbid-crlf, ensure-nfc

feat: implement inference speed optimization during distillation (Phases 1-12)
  .cursor/plans/inference-speed-optimization-during-distillation-c3d3cffc.plan.md
  Makefile
  QUALITY_REVIEW_PHASE12.md
  coreml/runtime/ane_monitor.py
  coreml/runtime/batch_policy.py
  coreml/runtime/kv_cache_optimized.py
  coreml/runtime/prompt_cache.py
  coreml/runtime/speculative_decode.py
  coreml/runtime/tokenizer_optimized.py
  docs/M_SERIES_ADVANCED_OPTIMIZATIONS.md
  docs/TEST_COVERAGE_SPEED_OPTIMIZATION.md
  eval/cli.py
  eval/reports/summarize.py
  eval/runners/openai_http.py
  eval/scoring/scorer.py
  evaluation/perf_mem_eval.py
  tests/integration/test_speed_optimization_integration.py
  tests/unit/test_ane_monitor.py
  tests/unit/test_batch_policy.py
  tests/unit/test_enumerated_shapes.py
  tests/unit/test_kv_cache_optimized.py
  tests/unit/test_prompt_cache.py
  tests/unit/test_qat_integration.py
  tests/unit/test_speculative_decode.py
  tests/unit/test_speed_gates.py
  tests/unit/test_speed_metrics.py
  tests/unit/test_tokenizer_optimized.py
  training/distill_kd.py
  training/losses.py
  training/speed_metrics.py
Due: forbid-tabs, forbid-crlf

Rebalance entailment calibration dataset for optimal information-theoretic distribution
  .cursor/plans/entailment-calibration-rebalancing.yaml
  data/entailment_calibration.ndjson
Due: none

Implement high-value TODOs: ONNX cast removal, speculative decoding, probe generation, TTFT tracking, loss improvements, tensor hashing, cache estimation
  conversion/onnx_surgery.py
  coreml/probes/generate_probes.py
  coreml/runtime/prompt_cache.py
  coreml/runtime/speculative_decode.py
  evaluation/perf_mem_eval.py
  training/losses.py
  training/run_toy_distill.py
Due: forbid-tabs, forbid-crlf

Fix test failures in claims verification system
  arbiter/claims/pipeline.py
  tests/test_claims_policy.py
  tests/test_verification_outcomes.py
Due: forbid-tabs, forbid-crlf

Remove deprecated claimify module
  arbiter/claimify/__init__.py
  arbiter/claimify/pipeline.py
Due: forbid-tabs, forbid-crlf

Improve conversion pipeline with better error handling and contract support
  conversion/convert_coreml.py
  conversion/export_pytorch.py
  conversion/judge_export_coreml.py
  conversion/judge_export_onnx.py
Due: forbid-tabs, forbid-crlf

Optimize CoreML runtime components for ANE efficiency
  coreml/runtime/ane_monitor.py
  coreml/runtime/constrained_decode.py
  coreml/runtime/generate_coreml.py
  coreml/runtime/kv_cache_optimized.py
  coreml/runtime/tokenizer_optimized.py
Due: forbid-tabs, forbid-crlf

Update unit tests to match runtime implementation changes
  tests/unit/test_ane_monitor.py
  tests/unit/test_kv_cache_optimized.py
  tests/unit/test_prompt_cache.py
  tests/unit/test_speculative_decode.py
  tests/unit/test_tokenizer_optimized.py
Due: forbid-tabs, forbid-crlf

Clean documentation language per quality standards
  docs/ARBITER_THEORY.md
  docs/CAWS_AGENT_GUIDE.md
  docs/EVAL_HARNESS_IMPLEMENTATION_REVIEW.md
  docs/M_SERIES_ADVANCED_OPTIMIZATIONS.md
  training/distill_kd.py
  training/run_toy_distill.py
  training/utils.py
Due: forbid-tabs, forbid-crlf

Improve evaluation system with TODO implementations and better logic
  eval/reports/summarize.py
  eval/runners/base.py
  eval/scoring/scorer.py
  evaluation/caws_eval.py
Due: forbid-tabs, forbid-crlf

Enhance training pipeline with code improvements and formatting
  training/dataset.py
  training/examples_priority3_integration.py
  training/extractors.py
  training/losses.py
  training/process_losses.py
  training/quant_qat_int8.py
Due: forbid-tabs, forbid-crlf

Enhance arbiter components with improved metrics and ranking
  arbiter/eval/caws_metrics.py
  arbiter/judge_training/pairwise_ranking.py
Due: forbid-tabs, forbid-crlf

Update configuration files for conversion and training
  configs/convert_coreml.yaml
  configs/student_9b_gqa.yaml
Due: none

Update README and Makefile with improved documentation
  Makefile
  README.md
Due: none

Add .cursor/plans to .gitignore
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
  .gitignore
  arbiter/claims/__init__.py
  configs/hardware_profiles.yaml
  data/make_toy_kd.py
  docs/M_SERIES_OPTIMIZATION_GUIDE.md
  docs/PYTORCH_ARM64_MIGRATION.md
  eval/config/claims_policy.yaml
  eval/config/entailment_calibration.json
  eval/hw_profile.py
  evaluation/toy_contracts.py
  scripts/calibrate_entailment.py
  scripts/extract_minimal_signals.py
  scripts/lint_docs_claims.py
  scripts/migrate_to_arm64_python.sh
  scripts/publish_eval_report.py
  scripts/readiness_report.py
  scripts/todo_analyzer.py
  scripts/validate_eval_smoke.sh
  scripts/validate_sharding.sh
  tests/CLAIMS_TEST_COVERAGE.md
  tests/TOY_MODEL_CLAIMS_INTEGRATION.md
  tests/e2e/__init__.py
  tests/e2e/test_toy_pipeline.py
  tests/test_claims_pipeline_toy.py
  tests/test_claims_toy_model_integration.py
  tests/test_entailment_calibration.py
  tests/unit/test_losses_speed.py
  training/callbacks/eval_harness_callback.py
  training/teacher_stub_toy.py
Due: forbid-tabs, forbid-crlf, ensure-nfc

Remove .cursor/plans from git tracking and move calibration plan
  .cursor/plans/fix-generator-issues-ce5cee6c.plan.md
  .cursor/plans/inference-speed-optimization-during-distillation-c3d3cffc.plan.md
  eval/config/entailment_calibration_rebalancing.yaml
Due: none

Implement Milestone 1: Code-Mode MCP Distillation & Evaluation
  configs/kd_recipe.yaml
  data/generators/mcp_code_mode.py
  data/resources/mcp_ts_api/callMCPTool.ts
  data/resources/mcp_ts_api/servers/google-drive/index.ts
  data/resources/mcp_ts_api/servers/salesforce/index.ts
  data/resources/mcp_ts_api/servers/slack/index.ts
  docs/CODE_MODE_FIXES_APPLIED.md
  docs/CODE_MODE_NEXT_STEPS_COMPLETED.md
  eval/configs/code_mode.yaml
  eval/reports/summarize.py
  eval/scoring/scorer.py
  tests/e2e/test_code_mode.py
  tests/unit/test_code_mode_loss.py
  tests/unit/test_code_mode_loss_torchscript.py
  tests/unit/test_code_mode_weight_scheduler.py
  training/dataset.py
  training/distill_kd.py
  training/losses.py
Due: forbid-tabs, forbid-crlf

feat: Implement Milestone 2 - Latent Reasoning + Outer-Loop Refinement
  .github/workflows/efficiency_gates.yml
  data/wrappers/__init__.py
  data/wrappers/curriculum.py
  docs/LATENT_REASONING.md
  eval/cli.py
  eval/configs/latent.yaml
  eval/probes/__init__.py
  eval/probes/latent_probe.py
  eval/scoring/baseline.py
  eval/scoring/efficiency.py
  models/student/architectures/gqa_transformer.py
  models/student/tokenizer/constants.py
  models/student/tokenizer/special_tokens_map.json
  models/student/tokenizer/tokenizer_config.json
  runtime/__init__.py
  runtime/engine/__init__.py
  runtime/engine/loop.py
  runtime/orchestration/__init__.py
  runtime/orchestration/refine.py
  tests/e2e/test_latent_reasoning.py
  tests/e2e/test_token_reduction.py
  tests/runtime/test_caws_budget_enforcement.py
  tests/runtime/test_latent_mode.py
  tests/runtime/test_latent_smoke.py
  tests/runtime/test_refinement_controller.py
  tests/runtime/test_safety_edge_cases.py
  tests/training/test_latent_curriculum.py
  tests/training/test_loss_mask_correctness.py
  training/halt_targets.py
  training/tokenizer_migration.py
Due: forbid-tabs, forbid-crlf, ensure-nfc

feat: Complete pipeline readiness improvements
  configs/memory_budgets.yaml
  configs/precision_islands.yaml
  configs/schema/config_schema.json
  conversion/convert_coreml.py
  conversion/export_pytorch.py
  conversion/judge_export_onnx.py
  coreml/ane_checks.py
  data/scenarios/drafter_scenarios.jsonl.example
  data/scenarios/judge_scenarios.jsonl.example
  data/scenarios/worker_scenarios.jsonl.example
  docs/PIPELINE_READINESS_AUDIT.md
  eval/halt_calibration.py
  eval/scenario_harness.py
  infra/version_gate.py
  models/student/architectures/gqa_transformer.py
  runtime/api_contract.py
  scripts/config_resolve.py
  scripts/inspect_run.py
  scripts/smoke_test_pipeline.py
  scripts/validate_data_provenance.py
  scripts/validate_kd_data.py
  scripts/verify_pre_training_readiness.py
  tests/test_ane_optimizations.py
  tests/test_caws_compliance_gates.py
  tests/test_coreml_golden_vectors.py
  tests/test_export_contracts.py
  tests/test_performance_regression.py
  tests/test_placeholder_detection.py
  tests/test_precision_islands.py
  tests/test_prefill_decode_consistency.py
  tests/test_quantization_ab.py
  tests/test_quantization_export.py
  tests/test_tokenizer_contract.py
  tests/test_training_reproducibility.py
  training/assertions.py
  training/dataset.py
  training/distill_kd.py
  training/losses.py
  training/run_manifest.py
  training/teacher_cache.py
Due: forbid-tabs, forbid-crlf, ensure-nfc

fix: Update CI/CD workflows for new project structure
  .github/workflows/broker-smoke.yml
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
  Makefile
Due: none

fix: Update CI/CD workflows for local testing compatibility
  .github/workflows/broker-smoke.yml
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
  Makefile
  scripts/test_broker_smoke.py
Due: forbid-tabs, forbid-crlf

fix: Fix indentation error in training loop
  training/distill_kd.py
Due: forbid-tabs, forbid-crlf

fix: Fix indentation in training gradient update logic
  training/distill_kd.py
Due: forbid-tabs, forbid-crlf

fix: Properly fix indentation in training loop
  training/distill_kd.py
Due: forbid-tabs, forbid-crlf

style: Minor formatting improvements in CAWS compliance tests
  Makefile
  conversion/judge_export_onnx.py
  scripts/verify_pre_training_readiness.py
  tests/test_caws_compliance_gates.py
Due: forbid-tabs, forbid-crlf

fix: Correct YAML syntax in GitHub Actions workflows
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
Due: none

fix: Fix YAML multiline string syntax in workflows
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
Due: none

fix: Fix YAML syntax issues in GitHub Actions workflows
  .github/workflows/efficiency_gates.yml
  .github/workflows/eval-nightly.yml
  .github/workflows/eval-pr.yml
  .github/workflows/eval-smoke.yml
Due: none

fix: Fix eval smoke test to work with mock runner
  .github/workflows/eval-smoke.yml
  eval/cli.py
  eval/reports/summarize.py
Due: forbid-tabs, forbid-crlf

fix: Make runner imports conditional to support smoke testing
  eval/cli.py
Due: forbid-tabs, forbid-crlf

fix: Add --no-fail-on-gate-failure flag for smoke testing
  .github/workflows/eval-smoke.yml
  eval/cli.py
Due: forbid-tabs, forbid-crlf
